html {
    height: 100%;
}

body {
    color: gold;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(assets/background.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.standard-row-height {
    height: 65px;
}

.border-bottom-black {
    border-bottom: 1px solid black;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.large-row-height {
    height: 500px;
}

.beige-color {
    color: beige;
}