html {
    height: 100%;
}

body {
    color: gold;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(assets/background.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.standard-row-height {
    height: 70px;
}

.border-bottom-black {
    border-bottom: 1px solid black;
}

.row {
    margin-left: 0;
    margin-right: 0;
}